body *:not(.v-icon) {
    font-family: 'Baloo Da 2', cursive !important;
    /* font-size: 16px; */
}

.v-btn.bt_green {
    background-color: #2ce263 !important;
    color: #fff !important;
    transition: background-color 0.2s ease-in-out;
}
.v-btn.bt_green:hover {
    background-color: #27c456 !important;
}
.theme--light.v-btn.bt_green.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background-color: #a3ecba !important;
    color: #fff !important;
    cursor: not-allowed !important;
}

.v-btn.bt_red {
    background-color: #ff6262 !important;
    color: #fff !important;
    transition: background-color 0.2s ease-in-out;
}
.v-btn.bt_red:hover {
    background-color: #fc4141 !important;
}

.customModal .v-btn {
    background-color: #2ce263 !important;
    color: #fff;
    font-weight: bold;
    margin: 15px 0 0 0;
    transition: background-color 0.2s ease-in-out;
}
.customModal .v-btn:hover {
    background-color: #27c456 !important;
}


body .tooltip {
    background-color: #000000;
    opacity: 0.75;
    border-radius: 4px;
    font-size: 11px;
    padding: 3px 10px;
    margin: 15px 0 0 0;
}

.leaflet-control-attribution a {
    font-size: 11px;
}


.iconCloseModal {
    position: absolute !important;
    font-size: 18px !important;
    transition: all 0.2s ease-in-out !important;
    right: 12px;
    top: 12px;
    border-radius: 50%;
    width: 26px;
    height: 26px;
}
.iconCloseModal:hover {
    background-color: rgb(110, 110, 110);
    color: #ffffff;
}

.iconCloseModal.white {
    background-color: transparent !important;
    color: #fff;
}
.iconCloseModal.white:hover {
    background-color: #ffffff !important;
    color: #5c6bc0;
}
.iconCloseModal.white.modalError:hover {
    color: #ff5252;
}